<div class="test">
  <p class="timer" *ngIf="timer">Осталось: {{timer}}</p>
  <mat-card>
    <mat-card-content>
      <section *ngIf="req?.category==='MULTIPLE_ANSWERS'">
        <exc-test-several-answer [question]="req.question" [answers]="req.answerOptions" [(studentAnswer)]="req.studentAnswer" [disabled]="disabled">
        </exc-test-several-answer>
      </section>

      <section *ngIf="req?.category==='SINGLE_ANSWER'">
        <exc-test-one-answer [question]="req.question" [answers]="req.answerOptions" [(studentAnswer)]="req.studentAnswer" [disabled]="disabled">
        </exc-test-one-answer>
      </section>

      <section *ngIf="req?.category==='WORD_ANSWER'">
        <exc-test-word-answer [question]="req.question" [(studentAnswer)]="req.studentAnswer" [disabled]="disabled">
        </exc-test-word-answer>
      </section>

      <section *ngIf="req?.category==='SENTENCE_ANSWER'">
        <exc-test-several-word-answer [question]="req.question" [(studentAnswer)]="req.studentAnswer" [disabled]="disabled">
        </exc-test-several-word-answer>
      </section>
    </mat-card-content>

  </mat-card>
    <mat-paginator [length]="req?.answerOptions?.length"
                   [pageSize]="1"
                   [hidePageSize]="true"
                   (page)="onPaginateChange()">
    </mat-paginator>
    <button mat-button (click)="onClick()">{{buttonType}}</button>
</div>
