.header {
  font-weight: bold;
}

.mat-toolbar {
  align-items: center;
  justify-content: space-between;
  background: #41454A;
  color: white;
}

.exit-icon{
  font-size: 4vh;
  margin-right: 3vw;
  cursor: pointer;
}
