<div class="edit-content">
  <mat-card class="edit-password">
    <div class="card-title">
      <div class="enter">Смена пароля</div>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="photo-post-form">

      <mat-form-field class="full-width">
        <input matInput placeholder="Введите старый пароль" formControlName="oldPassword"
               [type]="hideOld ? 'password' : 'text'">
        <button mat-icon-button matSuffix>
          <mat-icon class="visibility" matSuffix (click)="hideOld = !hideOld"
                    [matTooltip]="hideOld ? 'Показать пароль' : 'Скрыть пароль'">{{hideOld ? 'visibility' :
            'visibility_off'}}
          </mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Введите новый пароль" formControlName="newPassword"
               [type]="hideNew ? 'password' : 'text'">
        <button mat-icon-button matSuffix>
          <mat-icon class="visibility" matSuffix (click)="hideNew = !hideNew"
                    [matTooltip]="hideNew ? 'Показать пароль' : 'Скрыть пароль'">{{hideNew ? 'visibility' :
            'visibility_off'}}
          </mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="full-width" [class.mat-form-field-invalid]="isWrongRepeat()">
        <input matInput placeholder="Повторите пароль" formControlName="repeatPassword"
               [type]="hideRepeat ? 'password' : 'text'">
        <button mat-icon-button matSuffix>
          <mat-icon class="visibility" matSuffix (click)="hideRepeat = !hideRepeat"
                    [matTooltip]="hideRepeat ? 'Показать пароль' : 'Скрыть пароль'">{{hideRepeat ? 'visibility' :
            'visibility_off'}}
          </mat-icon>
        </button>
      </mat-form-field>

    </form>
    <button mat-button type="submit" [disabled]="!form.valid" (click)="onSubmit()">
      Сменить пароль
    </button>

  </mat-card>
</div>
