<div class="sign-in-content">
  <mat-card class="sign-in">
    <div class="card-title">
      <div class="enter">Вход</div>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="photo-post-form">

      <mat-form-field class="full-width">
        <input matInput placeholder="Введите пароль" formControlName="password" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix>
          <mat-icon class="visibility" matSuffix (click)="hide = !hide"
                    [matTooltip]="hide ? 'Показать пароль' : 'Скрыть пароль'">{{hide ? 'visibility' : 'visibility_off'}}
          </mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Введите пароль" formControlName="password" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix>
          <mat-icon class="visibility" matSuffix (click)="hide = !hide"
                    [matTooltip]="hide ? 'Показать пароль' : 'Скрыть пароль'">{{hide ? 'visibility' : 'visibility_off'}}
          </mat-icon>
        </button>
      </mat-form-field>

    </form>

    <div class="forgot">
      <a routerLink="/forgot-password">Забыли пароль?</a>
      <a routerLink="/registration"> Регистрация</a>
    </div>
    <button mat-button type="submit" [disabled]="!form.valid" (click)="onSubmit()">
      Войти
    </button>


  </mat-card>
</div>
