<div class="edit-content">
  <mat-card class="edit-password">
    <div class="card-title">
      <div class="enter">Смена пароля</div>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <mat-form-field class="full-width">
        <input matInput placeholder="Введите старый пароль" formControlName="oldPassword"
               [type]="hideOld ? 'password' : 'text'" autocomplete="off">
        <button mat-icon-button class="visibility" matSuffix (click)="hideOld = !hideOld"
                [matTooltip]="hideOld ? 'Показать пароль' : 'Скрыть пароль'">
          <mat-icon>{{hideOld ? 'visibility' :
            'visibility_off'}}
          </mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="full-width" [class.ng-invalid]="form.hasError('NotEqual')">
        <input matInput placeholder="Введите новый пароль" formControlName="newPassword"
               [type]="hideNew ? 'password' : 'text'" autocomplete="off">

        <button mat-icon-button class="visibility" matSuffix (click)="hideNew = !hideNew"
                [matTooltip]="hideNew ? 'Показать пароль' : 'Скрыть пароль'">
          <mat-icon>{{hideNew ? 'visibility' :
            'visibility_off'}}
          </mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="full-width" [class.bplease]="isWrongRepeat()">
        <input matInput placeholder="Повторите пароль" formControlName="repeatPassword"
               [type]="hideRepeat ? 'password' : 'text'" autocomplete="off">

        <button mat-icon-button class="visibility" matSuffix (click)="hideRepeat = !hideRepeat"
                [matTooltip]="hideRepeat ? 'Показать пароль' : 'Скрыть пароль'">
          <mat-icon>{{hideRepeat ? 'visibility' :
            'visibility_off'}}
          </mat-icon>
        </button>
      </mat-form-field>

      <mat-error
        *ngIf="isWrongRepeat()">
        Пароли не совпадают
      </mat-error>

    </form>
    <mat-error *ngIf="success">
      Пароль сменен успешно
    </mat-error>
    <mat-error *ngIf="success===false">
      Старый пароль введен неправильно
    </mat-error>
    <button mat-button type="submit" [disabled]="!form.valid" (click)="onSubmit()">
      Сменить пароль
    </button>

  </mat-card>
</div>
