<form class="form" #form="ngForm" (ngSubmit)="onSubmit(form.value)">
  <mat-form-field>
    <input matInput ngModel name="inputDate" [matDatepicker]="picker" placeholder="Дедлайн" required/>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <exc-select-student-or-group (isSelEvent)="changeValidState($event)"
                               (idOfSelected)="assignmentOfSelectedId($event)"></exc-select-student-or-group>
  <div>
    <button type="submit" mat-button (click)="closeModalWindow()" [disabled]="!form.valid || !isSelectedLists">
      Назначить
    </button>
  </div>
</form>
