<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Имя, Фамилия </th>
      <td mat-cell *matCellDef="let element">
        <a>{{element.surname}} {{element.name}}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="university">
      <th mat-header-cell *matHeaderCellDef> Университет </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="!element.account?.university">
          Не заполнено
        </ng-container>
        {{element.account?.university}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #pagination
    [length]="getPaginationParams().length"
    [pageIndex]="getPaginationParams().pageIndex"
    [pageSize]="getPaginationParams().pageSize"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="changePaginationParams()" showFirstLastButtons></mat-paginator>
</div>
