<mat-toolbar color="primary">
  <ng-container *ngIf="userService.role!==''">
    <button mat-icon-button (click)="onMenuToggled()">
      <mat-icon class="menu">menu</mat-icon>
    </button>
  </ng-container>
  <ng-container *ngIf="userService.role===''">
    <div></div>
  </ng-container>

  <h1 routerLink="/home" class="card-title">{{title | uppercase}}</h1>

  <div>
    <ng-container *ngIf="userService.role!==''">
      <exc-layout-personal-menu></exc-layout-personal-menu>
      <button mat-icon-button (click)="onClickExit()">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </ng-container>

    <ng-container *ngIf="userService.role===''">
      <button mat-button routerLink="/registration">
        Регистрация
      </button>
      <button mat-button routerLink="/sign-in">
        Войти
      </button>
    </ng-container>

  </div>
</mat-toolbar>
