.headertext {
  margin-top: 5px;
  text-align: center;
}

p {
  text-align: center;
}

table {
  width: 100%;
}

td.mat-cell:last-child {
  padding: 0;
}

.mat-expansion-panel-header.mat-row {
  border-bottom: none;
//border-bottom: 0.1px inset;
}

.mat-expansion-panel-header.group {
  border-top: 1.1px ridge;
}


.mat-accordion .mat-header-row {
  padding-left: 1.5rem;
  padding-right: 2rem;
  border-bottom: none;
  display: flex;
  height: 48px;
  align-items: center;
}

.mat-cell, .mat-header-cell, .mat-accordion {
  flex: 1;
  overflow: hidden;
  word-wrap: break-word;
}

::ng-deep .mat-expansion-panel-content .mat-expansion-panel-body {
   padding: 0 !important;
}
