<h2 class="headertext">Назначенные тесты</h2>
<p>
<button mat-button routerLink="/test/assign" >Назначить тест</button>
</p>
<div class="mat-elevation-z8">

  <mat-accordion displayMode="flat" multi class="mat-table">
    <section matSort class="mat-elevation-z2 mat-header-row">
      <span class="mat-header-cell" mat-sort-header="vesselId">Студент/Группа</span>
      <span class="mat-header-cell" mat-sort-header="vesselName">Тест</span>
      <span class="mat-header-cell" mat-sort-header="vesselStatus">Оценка</span>
      <span class="mat-header-cell" mat-sort-header="ircs">Дедлайн</span>
      <span class="mat-header-cell" mat-sort-header="ircs"></span>
    </section>
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="studGroups">
        <td mat-cell *matCellDef="let element">
          <mat-expansion-panel [disabled]="!element.groupId" hideToggle>
            <mat-expansion-panel-header class="mat-row" >
              <ng-container *ngIf="element.groupId">
                <span class="mat-cell">
                  <mat-icon>keyboard_arrow_down</mat-icon>
                  <span>{{element.groupId.name}}</span>
                </span>
              </ng-container>

              <ng-container  *ngIf="element.studentId">
                 <span class="mat-cell">{{element.studentId.surname}} {{element.studentId.name}}</span>
              </ng-container>
              <span class="mat-cell">{{element.name}}</span>
              <span class="mat-cell">{{element.mark ? element.mark : !element.groupId ?"не пройден": ""}}</span>
              <span class="mat-cell">{{element.deadline| date: "dd.MM.yyyy, mm:ss"}}</span>
              <span class="mat-cell" (click)="onClick($event, element.studentId._id, element._id)"><button mat-button>{{ (element.status !== "PASSED" || element.groupId) ? "" : "Просмотр"}}</button></span>
            </mat-expansion-panel-header>
            <ng-container *ngIf="element.groupId">
                <mat-expansion-panel [disabled]="true">
                  <mat-expansion-panel-header class="group">
                    <span class="mat-cell"><button>Просмотр</button></span>
                  </mat-expansion-panel-header>
                </mat-expansion-panel>
            </ng-container>

          </mat-expansion-panel>
        </td>
      </ng-container>
      <tr mat-row *matRowDef="let row;columns: displayedColumnsStudGroups;"></tr>
    </table>
  </mat-accordion>

  <mat-paginator
  [length]="getPaginationParams().length"
  [pageIndex]="getPaginationParams().pageIndex"
  [pageSize]="getPaginationParams().pageSize"
  [pageSizeOptions]="[2, 10, 20]"
  (page)="changePaginationParams()" showFirstLastButtons></mat-paginator>

</div>
