<mat-horizontal-stepper linear #stepper class="stepper">
  <mat-step [stepControl]="nameSurnameFormGroup">
    <form [formGroup]="nameSurnameFormGroup" class="step-form" #nameSurnameForm="ngForm">
      <ng-template matStepLabel>Первый шаг</ng-template>
      <mat-form-field>
        <input matInput placeholder="Имя" formControlName="name">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Фамилия" formControlName="surname">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Адрес эл.почты" formControlName="email">
      </mat-form-field>
      <mat-radio-group formControlName="role" class="full-width" (change)="changeRole($event);">
        <mat-radio-button value="student">ученик</mat-radio-button>
        <mat-radio-button value="teacher">учитель</mat-radio-button>
      </mat-radio-group>
      <div>
        <button mat-button type="button" matStepperNext>Дальше</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="universityFormGroup">
    <form class="step-form" [formGroup]="universityFormGroup" #universityForm="ngForm">
      <ng-template matStepLabel>Второй шаг</ng-template>
      <ng-container *ngIf="nameSurnameForm.value.role==='student'">
        <mat-form-field>
          <input matInput placeholder="Факультет" formControlName="faculty">
        </mat-form-field>
        <mat-form-field>
          <input type="text" pattern="\d*" maxlength="4" matInput placeholder="Год окончания" formControlName="year">
        </mat-form-field>
      </ng-container>
      <mat-form-field>
        <input type="text" placeholder="Выберите вуз" aria-label="Number" matInput [matAutocomplete]="auto"
               formControlName="university">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="primarySkill" formControlName="primarySkill">
      </mat-form-field>
      <div>
        <button mat-button type="button" matStepperPrevious>Назад</button>
        <button mat-button type="button" matStepperNext>Дальше</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Регистрация завершена</ng-template>
    <div>
      <mat-card>
        <p> статус: {{nameSurnameForm.value.role}}</p>
        <p>имя фамилия: {{nameSurnameForm.value.name}} {{nameSurnameForm.value.surname}}</p>
        <p>mail: {{nameSurnameForm.value.email}}</p>
        <p>вуз/место работы: {{universityForm.value.university}}</p>
        <ng-container *ngIf="universityForm.value.role=='student'">
          <p>факультет: {{universityForm.value.faculty}}</p>
          <p>год окончания: {{universityForm.value.year}}</p>
        </ng-container>
        <p>primarySkill: {{universityForm.value.primarySkill}}</p>
      </mat-card>
      <button mat-button matStepperPrevious>Назад</button>
      <button mat-button (click)="stepper.reset();">Отмена</button>
      <button mat-button (click)="submitRegistration();">Зарегистрироваться</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
