<mat-horizontal-stepper linear #stepper class="stepper">
  <mat-step [stepControl]="nameSurnameFormGroup">
    <form [formGroup]="nameSurnameFormGroup" class="step-form" #nameSurnameForm="ngForm">
      <ng-template matStepLabel>Первый шаг</ng-template>
      <mat-card>
        <mat-form-field>
          <input matInput placeholder="Имя" formControlName="name" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Фамилия" formControlName="surname" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Адрес эл.почты" formControlName="email" autocomplete="off">
        </mat-form-field>
        <mat-radio-group formControlName="isStudent" class="full-width" (change)="changeRole($event);">
          <mat-radio-button [value]="true">Ученик</mat-radio-button>
          <mat-radio-button [value]="false">Учитель</mat-radio-button>
        </mat-radio-group>
        <div>
          <button mat-button type="button" matStepperNext>Дальше</button>
        </div>
      </mat-card>
    </form>
  </mat-step>
  <mat-step [stepControl]="universityFormGroup">
    <form class="step-form" [formGroup]="universityFormGroup" #universityForm="ngForm">
      <ng-template matStepLabel>Второй шаг</ng-template>
      <mat-card>
        <mat-form-field>
          <input type="text" placeholder="Выберите вуз" aria-label="Number" matInput [matAutocomplete]="auto" matInput formControlName="university">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <ng-container *ngIf="nameSurnameForm.value.isStudent">
          <mat-form-field>
            <input matInput placeholder="Факультет" formControlName="faculty" autocomplete="off">
          </mat-form-field>
          <mat-form-field>
            <input type="text" pattern="\d*" maxlength="4" matInput placeholder="Год окончания" formControlName="year" autocomplete="off">
          </mat-form-field>
        </ng-container>
        <mat-form-field>
          <input matInput placeholder="Мои навыки" formControlName="primarySkill" autocomplete="off">
        </mat-form-field>
        <div>
          <button mat-button type="button" matStepperPrevious>Назад</button>
          <button mat-button type="button" matStepperNext>Дальше</button>
        </div>
      </mat-card>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Регистрация завершена</ng-template>
    <mat-card class="step-form info-width">
      <mat-card-content>
        <div>
          <p>Cтатус:&nbsp;&nbsp;{{nameSurnameForm.value.isStudent ? "Ученик" : "Учитель"}}</p>
          <p>Имя, фамилия: &nbsp;&nbsp;{{nameSurnameForm.value.name}} {{nameSurnameForm.value.surname}}</p>
          <p>Email:&nbsp;&nbsp; {{nameSurnameForm.value.email}}</p>
          <p>Вуз/место работы: &nbsp;&nbsp;{{universityForm.value.university}}</p>
          <ng-container *ngIf="nameSurnameForm.value.isStudent">
            <p>Факультет:&nbsp;&nbsp; {{universityForm.value.faculty}}</p>
            <p>Год окончания: &nbsp;&nbsp;{{universityForm.value.year}}</p>
          </ng-container>
          <p>Мои навыки:&nbsp;&nbsp; {{universityForm.value.primarySkill}}</p>
        </div>

      </mat-card-content>
      <div>
        <button mat-button matStepperPrevious>Назад</button>
        <button mat-button (click)="stepper.reset();">Отмена</button>
        <button mat-button (click)="submitRegistration();" routerLink="/sign-in">Зарегистрироваться</button>
      </div>
    </mat-card>
  </mat-step>
</mat-horizontal-stepper>
