<div class="form-div">
  <form class="form" #form="ngForm" (ngSubmit)="onSubmit(form.value)">
    <mat-form-field class="full-width">
      <input matInput class="input" #message [ngModel]="taskInfo.name" name="name" maxlength="20"
             placeholder="Название" required>
      <mat-hint align="end">{{message.value.length}} / 20</mat-hint>
    </mat-form-field>

    <mat-form-field class="full-width">
      <textarea class="description-textarea" matInput placeholder="Описание" rows="10" [ngModel]="taskInfo.description"
                name="description"
                required></textarea>
    </mat-form-field>

    <mat-form-field class="full-width">
      <textarea class="tags-textarea" matInput placeholder="тэг1,тэг2,тэг3" rows="2" [ngModel]="taskInfo.tags"
                name="tags"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Оценка" matInput [ngModel]="taskInfo.weight" name="weight">
        <mat-option *ngFor="let mark of marks" [value]="mark" required>
          {{mark}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <p>Входные/выходные файлы для тестирования задачи:</p>

    <exc-input-output-files (fileChanged)="changeFiles($event)" (editFilesChanged)="changeEditFiles($event)"
                            [editInputFiles]="taskInfo.inputFilesId"
                            [editOutputFiles]="taskInfo.outputFilesId"
                            (validFiles)="changeValidState($event)"></exc-input-output-files>
    <button type="submit" [disabled]="!form.valid || !validFiles" mat-button>{{buttonName}}</button>
  </form>
</div>
