<div class="form-div">
  <form class="form" #form="ngForm" (ngSubmit)="onSubmit(form.value)">
    <mat-form-field class="full-width">
      <input matInput class="input" matInput #message [ngModel]="taskInfo.name" name="name" maxlength="20"
             placeholder="Название" required>
      <mat-hint align="end">{{message.value.length}} / 20</mat-hint>
    </mat-form-field>

    <mat-form-field class="full-width">
      <textarea class="description-textarea" matInput placeholder="Описание" rows="10" [ngModel]="taskInfo.description"
                name="description"
                required></textarea>
    </mat-form-field>
    <p>Входные/выходные файлы для тестирования задачи:</p>

    <exc-input-output-adding (fileChanged)="changeFiles($event)" (editFilesChanged)="changeEditFiles($event)"
                             [editFiles]="taskInfo.editFiles"
                             (validFiles)="changeValidState($event)"></exc-input-output-adding>
    <button type="submit" [disabled]="!form.valid || !validFiles" mat-button>{{buttonName}}</button>
  </form>
</div>
