.input-output-files-upload {
  display: flex;
  flex-direction: row;
}

.input-output-adding {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-files-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

