.input-output-files-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-output-adding {
  width: 100%;
  display: flex;
  flex-direction: row;
}

p {
  margin-bottom: 0;
}

.buttons-plus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.edit-files-item {
  display: flex;
  flex-direction: row;
  align-content: center;
}

