<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">

    <p *ngIf="showFiller"></p>

    <app-drop-down-list [fields]="tests" [placeholder]="test"></app-drop-down-list>

    <button class="button" mat-button *ngFor="let button of buttons">
      {{ button }}
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <!--<mat-icon class="menu-button" (click)="drawer.toggle()">reorder</mat-icon>-->
  </div>
</mat-drawer-container>
