.example-container {
  width: 25%;
  height: 84vh;
  background: white;
}

.example-sidenav-content {
  display: flex;
  justify-content: left;
}

.example-sidenav {
  padding: 20px;
  width: 35vh;
  background: rgba(12, 12, 12, 0.05);
}

mat-sidenav {
  width: 200px;
}

.button{
  width: 180px;
  color: gray;
  font-weight: normal;
  font-size: medium;
  padding-right: 25px;
}

@media only screen and (max-width: 750px) {
  .example-sidenav {
    width: 40vh;
  }
}
