<form class="form" #form="ngForm" (ngSubmit)="onSubmit(form.value)">
  <mat-form-field>
    <input matInput ngModel name="inputDate" [matDatepicker]="picker" [min]="minDate" placeholder="Дедлайн" autocomplete="off" required/>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <exc-task-select-student-or-group (isSelEvent)="changeValidState($event)"
                                    (idOfSelected)="assignmentOfSelectedId($event)"
                                    (isGroupSelected)="isItGroup($event)"></exc-task-select-student-or-group>
  <div>
    <button type="submit" mat-button (click)="closeModalWindow()" [disabled]="!form.valid || !isSelectedLists">
      Назначить
    </button>
  </div>
</form>
