<mat-list>
  <mat-list-item *ngFor="let request of onDisplay">
    <span mat-line class="title">{{request.name}} {{request.surname}}</span>
    <p mat-line>{{request.email}} </p>
    <p mat-line>{{request.placeOfWork}}</p>
    <ng-container *ngIf="request.display">
      <button mat-icon-button (click)="onclickConfirm(request)">
        <mat-icon matListIcon class="done">done</mat-icon>
      </button>
      <button mat-icon-button (click)="onclickConfirm(request)">
        <mat-icon class="clear">clear</mat-icon>
      </button>
    </ng-container>
    <ng-container *ngIf="!request.display">
      Готово
    </ng-container>
    <mat-divider></mat-divider>
  </mat-list-item>
  <mat-paginator [length]="requests?.length"
                 [pageSize]="10"
                 [pageIndex]="0"
                 (page)="onPaginateChange()">
  </mat-paginator>

</mat-list>
