.content {
  display: flex;
  justify-content: center;
}

.sign-in {
  padding: 0 0 20px;
  text-align: center;
  width: 350px;
  height: max-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title {
  padding: 5% 0;
  align-content: center;
  text-align: center;
  background-color: cornflowerblue;
  width: 100%;
}

.mat-icon {
  font-size: xx-large;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.enter {
  font-size: x-large;
}

.forgot {
  font-size: small;
  width: 75%;
  text-align: left;
}

.mat-form-field-wrapper {
  width: 200px;
  //margin-top: 20vh;
}

.mat-form-field {
  width: 80%;
  margin-top: 1vh;
}

.mat-button {
  margin-top: 4%;
}
