.sign-in-content {
  display: flex;
  justify-content: center;
  padding-top: 10vh;
  height: 100%;
}

.sign-in {
  text-align: center;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  padding: 5% 0;
}

.mat-icon {
  font-size: medium;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.enter {
  font-size: x-large;
}

.forgot {
  font-size: small;
  width: 80%;
  text-align: left;
  margin-top: 3%;
}

.mat-form-field-wrapper {
  width: 200px;
}

.mat-form-field {
  width: 80%;
  margin-top: 1vh;
}

.mat-button {
  margin-top: 2vh;
}
