<div class="content">
  <mat-card class="sign-in">
    <div class="title">
      <div class="enter">Вход</div>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="photo-post-form">
      <mat-form-field class="full-width">
        <input matInput type="text" placeholder="Введите email" [(ngModel)]="email"
               formControlName="email">
        <button mat-button *ngIf="email" matTooltip="Удалить" matSuffix mat-icon-button aria-label="Clear" (click)="email=''">
          <mat-icon class="close">close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Введите пароль" formControlName="password" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix>
          <mat-icon class="visibility" matSuffix (click)="hide = !hide" [matTooltip]="hide ? 'Показать пароль' : 'Скрыть пароль'">{{hide ?
            'visibility' : 'visibility_off'}}
          </mat-icon>
        </button>
      </mat-form-field>
    </form>

    <div class="forgot">
      <a href="#">Забыли пароль?</a>
    </div>
    <button mat-button type="submit" [disabled]="!form.valid" (click)="onSubmit()">
      Войти
    </button>

  </mat-card>
</div>
