.mat-drawer-container {
  width: 100%;
  height: calc(100% - 64px - 64px);
  background: white;
  overflow-y: scroll;
  position: fixed;

  .mat-drawer {
    //padding: 20px;
    width: 35vh;
  }

  .mat-list-item {
    color: gray;
  }
}

