<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Название теста </th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>

    <ng-container matColumnDef="deadline">
      <th mat-header-cell *matHeaderCellDef> Дедлайн </th>
      <td mat-cell *matCellDef="let element">
        {{element.deadline ? (element.deadline| date : "dd.MM.yyyy, hh:mm" ): "тренировочный"}}
      </td>
    </ng-container>

    <ng-container matColumnDef="timeToPass">
      <th mat-header-cell *matHeaderCellDef> Время </th>
      <td mat-cell *matCellDef="let element"> {{element.timeToPassStr}}</td>
    </ng-container>

    <ng-container matColumnDef="teacher">
      <th mat-header-cell *matHeaderCellDef> Учитель </th>
      <td mat-cell *matCellDef="let element"> {{element.teacherId.name}} {{element.teacherId.surname}} </td>
    </ng-container>

    <ng-container matColumnDef="button">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-button routerLink="/test/passing/{{element._id}}">
          Пройти тест
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator
  [length]="getPaginationParams().length"
  [pageIndex]="getPaginationParams().pageIndex"
  [pageSize]="getPaginationParams().pageSize"
  [pageSizeOptions]="[1, 2, 3, 10, 20]"
  (page)="changePaginationParams()" showFirstLastButtons></mat-paginator>
</div>
