<form class="form" #form="ngForm">
  <mat-form-field class="input-tags">
    <input matInput ngModel name="inputTags" placeholder="Введите теги" />
  </mat-form-field>
  <div>
    <mat-form-field>
      <input matInput ngModel name="inputDate" [matDatepicker]="picker" [min]="minDate" placeholder="Дедлайн" required/>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput ngModel name="inputCount" placeholder="Кол-во вопросов" required/>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput ngModel name="inputTime" placeholder="Время на тест (мин.)" required/>
    </mat-form-field>
  </div>
  <exc-task-select-student-or-group (isSelEvent)="changeValidState($event)" (idOfSelected)="assignmentOfSelectedId($event)"
    (isGroupSelected)="isItGroup($event)"></exc-task-select-student-or-group>
  <div>
    <button type="submit" mat-button [disabled]="!form.valid || !isSelectedLists">
      Назначить
    </button>
  </div>
</form>
