<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="question">
      <th mat-header-cell *matHeaderCellDef>Вопрос</th>
      <td mat-cell *matCellDef="let element">
        <a matLine href="#">{{element.question}}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="tags">
      <th mat-header-cell *matHeaderCellDef>Теги</th>
      <td class="tag" matLine mat-cell *matCellDef="let element">
        {{element.tags}}
      </td>
    </ng-container>

    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef>Статус</th>
      <td class="column" mat-cell *matCellDef="let element">
        {{getPrettyStatus(element.active)}}
      </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Тип вопроса</th>
      <td class="column" mat-cell *matCellDef="let element">
        {{getPrettyType(element.type)}}
      </td>
    </ng-container>

    <ng-container matColumnDef="difficulty">
      <th mat-header-cell *matHeaderCellDef>Сложность</th>
      <td class="column" mat-cell *matCellDef="let element">
        {{element.difficulty}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator #pagination
               [length]="getPaginationParams().length"
               [pageIndex]="getPaginationParams().pageIndex"
               [pageSize]="getPaginationParams().pageSize"
               [pageSizeOptions]="[5, 10, 25]"
               (page)="changePaginationParams()"
               showFirstLastButtons>
  </mat-paginator>
</div>
