<h1>{{taskName}}</h1>
<mat-accordion multi="true">
  <mat-expansion-panel *ngFor="let item of files; let i = index">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <a href="http://localhost:3000/student/task/download/5b4e060cd1da4c3a400e432a" download>
          {{item.srcFileId?.name}}
        </a>
      </mat-panel-title>
      <mat-panel-description>
        {{passedTests[i]}} / {{item.tests?.length}}
      </mat-panel-description>
      <mat-panel-description>
        оценка: {{item.mark}}
      </mat-panel-description>
      <mat-panel-description>
        {{item.submitTime | date : "MM.dd.yy, hh:mm" }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <exc-task-passed-tests [dataSource]="item.tests"></exc-task-passed-tests>
  </mat-expansion-panel>
</mat-accordion>
