<div class="edit-content">
  <mat-card class="edit-password">
    <div class="card-title">
      <p>Восстановление пароля</p>
    </div>

    <div class="rule-message">
      Введите email, к которому привязан ваш аккаунт
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field class="full-width">
        <input matInput type="text" placeholder="Email" formControlName="email">
        <button mat-button *ngIf="form.value.email" matTooltip="Удалить" matSuffix mat-icon-button aria-label="Clear"
                (click)="deleteText()">
          <mat-icon class="close">close</mat-icon>
        </button>
      </mat-form-field>
    </form>
    <button mat-button type="submit" [disabled]="!form.valid" (click)="onSubmit()">
      Восстановить
    </button>

    <div class="message" *ngIf="showTextMessage && everythingIsOk">
      Новый пароль был выслан на почту
    </div>
    <div class="message" *ngIf="showTextMessage && !everythingIsOk">
      Проверьте введенные данные
    </div>

  </mat-card>
</div>
