.input-file {
  display: flex;
  flex-direction: column;
}

span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
<<<<<<< HEAD
  width:160px;
=======
  width: 250px;
>>>>>>> master
  height: 20px;
  margin: auto;
}

a {
  margin-bottom: 10px;
  width: 160px;
  border: none;
  padding: 0;
}

