<button mat-button class="add-group">Добавить группу</button>
<mat-accordion multi="true">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p>Индивидуальные студенты</p>
      </mat-panel-title>
      <mat-panel-title>
        <button mat-icon-button (click)="editClick($event)">
                <mat-icon>edit</mat-icon>
              </button>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-panel-description *ngFor="let student of indStudents">
      <p>{{student.name}}</p>
    </mat-panel-description>
  </mat-expansion-panel>
  <mat-expansion-panel *ngFor="let group of groups">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p>группа: {{group.name}}</p>
      </mat-panel-title>
      <mat-panel-title>
        <button mat-icon-button (click)="editClick($event)">
              <mat-icon>edit</mat-icon>
            </button>
        <button mat-icon-button (click)="deleteClick($event)">
              <mat-icon>delete</mat-icon>
            </button>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-panel-description *ngFor="let student of group.groupStudents">
      <p>{{student.name}} {{student.surname}}</p>
    </mat-panel-description>
  </mat-expansion-panel>
</mat-accordion>
