<mat-list>
  <mat-list-item *ngFor="let request of onDisplay">
    <span mat-line class="title">{{request.studentId.name}} {{request.studentId.surname}}</span>
    <p mat-line class="wrap"><span class="title">Вопрос:</span> {{request.questionId?.question}} </p>

    <p mat-line class="wrap">
      <span class="title">Ответ:</span> {{request.answer}}
    </p>
    <ng-container *ngIf="request.display">
      <button mat-icon-button (click)="onclickConfirm(request, true)">
        <mat-icon matListIcon class="done">done</mat-icon>
      </button>
      <button mat-icon-button (click)="onclickConfirm(request, false)">
        <mat-icon class="clear">clear</mat-icon>
      </button>
    </ng-container>
    <ng-container *ngIf="!request.display && request.onclickDone">
      Одобрено
    </ng-container>
    <ng-container *ngIf="!request.display && request.onclickDone===false">
      Отклонено
    </ng-container>
    <span mat-line class="title">{{request.submissionId?.completeDate | date : "MM.dd.yy, hh:mm"}}</span>
    <mat-divider></mat-divider>
  </mat-list-item>
  <mat-paginator [length]="length"
                 [pageSize]="10"
                 [pageIndex]="0"
                 (page)="onPaginateChange()">
  </mat-paginator>

</mat-list>
